:root {
  --bg-primary: #070915;
  --bg-secondary: #0a0c18;

  --card-bg: #141720;
  --card-border: #252936;

  --accent: #0fc0ae;

  --text-primary: #f5f5f5;
  --text-secondary: #9ea3b3;
  --text-muted: #737988;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  font-family: Arial, sans-serif;
}

p,
h3,
td,
th {
  color: var(--text-primary);
}

h1,
h2 {
  color: var(--accent);
}

a {
  color: var(--accent);
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
  background-color: var(--accent);
  border: none;
}